* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
    z-index: -1;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #116466;
    padding: 20px;
    overflow-y: hidden;
    text-align: center;
    z-index: 1;
}

.left-column h1 {
    font-size: 4rem;
    letter-spacing: 0.05em;
}

.left-column h2 {
    font-size: 2rem;
    margin-bottom: 20px; 
    letter-spacing: 0.07em;
}

.left-column::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #116466;
    z-index: -1;
}

.right-column {
    margin-left: 40vw;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.right-column::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    font-family: 'Inter', sans-serif;
    color: aliceblue;
    background-color: #116466;
    line-height: 1.6;
}

.topnav {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.topnav a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-left: 10px;
    color: hsl(0, 0%, 100%) !important;
    text-decoration: none;
}

.topnav a::before {
    content: "——";
    display: inline-block;
    width: 25px; 
    transition: width 0.3s ease;
    margin-right: 15px;
    color: #22c7c9;
}

.topnav a.active::before {
    width: 50px;
    color: aliceblue;
}

.horizontal-social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.horizontal-social a {
    margin: 0 10px;
}

.social-icon {
    width: 35px;
}

h2, h3 {
    margin-bottom: 20px;
}
.container:h1 {
    color: #bbb;
}

ul {
    list-style-type: disc;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: left;
    word-wrap: break-word;
}

ul li {
    margin-bottom: 10px; 
    word-wrap: break-word;
}


.container {
    text-align: center;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.container:hover {
    background-color: rgba(34, 199, 201, 0.2);
    opacity: 1;
}

.container h2 {
    color: #ffffff;
}
.container h3 {
    color: #22c7c9;
    font-size: 1.5rem;
}

.container p, .container ul li {
    color: #ffffff;
}

/* Skill Section */
.horizontal-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
    padding-left: 15px;
    overflow: hidden;
}

.skill {
    padding: 10px 20px;
    background-color: #22c7c9;
    border-radius: 10px; 
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    cursor: default;
    white-space: nowrap;
}

.skill:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}

.degree {
    margin-bottom: 30px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.degree:hover {
    background-color: rgba(34, 199, 201, 0.2);
}

h2 {
    font-size: 1.5rem;
    color: aliceblue;
}

h3 {
    font-size: 1.2rem;
    color: aliceblue;
}

.date {
    font-style: italic;
    color: #bbb;
}

@media screen and (max-width: 768px) {
    .left-column {
        width: 100vw;
        position: static;
        height: auto;
        z-index: 2;
    }

    .right-column {
        margin-left: 0;
        margin-top: 20px;
        height: auto; 
    }

    .left-column h1 {
        font-size: 2.5rem;
    }

    .left-column h2 {
        font-size: 1.5rem;
    }
    
    ul {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    .left-column {
        order: 1;
    }

    .right-column {
        order: 2;
    }
}

#skills h1 {
    text-align: center;
    padding-top: 25px;
}

.gray-text {
    color: #bbb;
    display: flex;
     justify-content: 
     center;
}